<!doctype html>
<html>
<body>
	<div class="query-area">
		<form action="/user" action="get">
			<input type="text" name="username">
			<button>查询</button>
		</form>
	</div>
		<%= username %>
</body>
</html>
